<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUkMIwbOS70PlANtoE4-UIeDAaml0NMZw</string>
	<key>GCM_SENDER_ID</key>
	<string>653691434099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoFirebase</string>
	<key>PROJECT_ID</key>
	<string>projfirebase-f6074</string>
	<key>STORAGE_BUCKET</key>
	<string>projfirebase-f6074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653691434099:ios:03bbe43ba21189d7ea6606</string>
</dict>
</plist>